@using MilkData.Models
@{
    ViewData["Title"] = "Edit";
}

@model Blog

<div class="form-group row">
    <div class="col-md-6">
        <label for="1">BlogId</label>
        @Html.HiddenFor(model => Model.BlogId)
    </div>
</div>
<div class="form-group row">
    <div class="col-md-6">
        <label for="1">Title:</label>
        @Html.EditorFor(model => Model.Title, new { htmlAttributes = new { @class = "form-control" } })
    </div>
    <div class="col-md-6">
        <label for="1">Content:</label>
        @Html.EditorFor(model => Model.Content, new { htmlAttributes = new { @class = "form-control" } })
    </div>
    <div class="col-md-6">
        <label for="1">ImageUrl:</label>
        @Html.EditorFor(model => Model.ImageUrl, new { htmlAttributes = new { @class = "form-control" } })
    </div>
    <div class="col-md-6">
        <label for="1">ProductSuggestUrl:</label>
        @Html.EditorFor(model => Model.ProductSuggestUrl, new { htmlAttributes = new { @class = "form-control" } })
    </div>
    <div class="col-md-6">
        <label for="1">CreatedDate:</label>
        @Html.EditorFor(model => Model.CreatedDate, new { htmlAttributes = new { @class = "form-control" } })
    </div>
    <div class="col-md-6">
        <label for="1">AccountId:</label>
        @Html.EditorFor(model => Model.AccountId, new { htmlAttributes = new { @class = "form-control" } })
    </div>
    <div class="col-md-6">
        <label for="1">BlogCategoryId:</label>
        @Html.EditorFor(model => Model.BlogCategoryId, new { htmlAttributes = new { @class = "form-control" } })
    </div>
</div>
